/* Newer Browsers*/
html.touch #touchy {
	width: 25%;
	display: inline;
}

html.no-touch #touchy {
	display: none;
}

/*Older Browsers*/
html.touch #no-touchy {
	display: none;
}

html.no-touch #no-touchy {
	width: 25%;
	display: inline;
}